This code block handles the import statements and data loading, to keep the notebook clean.

In [11]:
import pandas as pd
import kagglehub

#Philadelphia 2025 Crime Statistics, from our github
url = "data/philadelphia_crime_data_2025.csv"
phil_test = pd.read_csv(url)

#this downloads the kaggle nfl dataset
path_nfl = kagglehub.dataset_download("keonim/nfl-game-scores-dataset-2017-2023")
game_dates = pd.read_csv(f"{path_nfl}/Season_Scores/2024_scores.csv")

Downloading from https://www.kaggle.com/api/v1/datasets/download/keonim/nfl-game-scores-dataset-2017-2023?dataset_version_number=31...

100%|██████████████████████████████████████| 23.5M/23.5M [00:01<00:00, 19.2MB/s]

Extracting files...

In [13]:
phil_test

,the_geom,cartodb_id,the_geom_webmercator,objectid,dc_dist,psa,dispatch_date_time,dispatch_date,dispatch_time,hour,dc_key,location_block,ucr_general,text_general_code,point_x,point_y,lat,lng
0,0101000020E610000078D60B9155CC52C00609171317FB...,1,0101000020110F0000365F9FE53BEE5FC11CBBED6D748A...,27244917,16,1,2025-02-27 01:16:00+00,2025-02-26,20:16:00,20,2.025160e+11,400 BLOCK N 35TH ST,300,Robbery No Firearm,-75.192723,39.961642,39.961642,-75.192723
1,0101000020E6100000205EFA3EECC952C0C8AFBCA424FD...,2,0101000020110F000075DADA5023EA5FC1F87526DCBA8C...,27742666,22,3,2025-03-23 21:15:00+00,2025-03-23,17:15:00,17,2.025220e+11,1200 BLOCK CECIL B MOORE AV,400,Aggravated Assault No Firearm,-75.155044,39.977681,39.977681,-75.155044
2,0101000020E6100000C8BB2A1DDACA52C06845954DB8F9...,3,0101000020110F00004F32C35BB7EB5FC19CDDA2C8EF88...,27742672,9,3,2025-03-23 20:19:00+00,2025-03-23,16:19:00,16,2.025090e+11,100 BLOCK S 17TH ST,400,Aggravated Assault No Firearm,-75.169563,39.950937,39.950937,-75.169563
3,0101000020E610000080102393B2C152C020440F42E10C...,4,0101000020110F000005140F9F2ADC5FC183209DE12F9E...,27742741,7,2,2025-03-23 22:12:00+00,2025-03-23,18:12:00,18,2.025070e+11,900 BLOCK RED LION RD,400,Aggravated Assault No Firearm,-75.026524,40.100624,40.100624,-75.026524
4,0101000020E6100000B818A83186CB52C00C1F32618BFD...,5,0101000020110F0000D26359A7DBEC5FC168F628BA2C8D...,27245131,22,4,2025-02-27 13:27:00+00,2025-02-27,08:27:00,8,2.025220e+11,1600 BLOCK N 28TH ST,400,Aggravated Assault Firearm,-75.180066,39.980816,39.980816,-75.180066
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55997,0101000020E61000006B892A3685C952C02ABCF4C42DFF...,3392169,0101000020110F0000BF8B2F4D74E95FC104097180FC8E...,24722516,25,4,2025-01-09 18:38:00+00,2025-01-09,13:38:00,13,2.025250e+11,1000 BLOCK W LEHIGH AV,600,Thefts,-75.148756,39.993584,39.993584,-75.148756
55998,0101000020E61000004CC3F01131C052C07520EBA9D505...,3392177,0101000020110F0000E61787CD9BD95FC103E9531F5E96...,25223158,8,1,2025-01-28 18:11:00+00,2025-01-28,13:11:00,13,2.025080e+11,4700 BLOCK Tolbut St,600,Theft from Vehicle,-75.002995,40.045583,40.045583,-75.002995
55999,0101000020E6100000442E7A9F91C952C0125464DFDBF4...,3392182,0101000020110F0000801A2B6289E95FC191AD4A7A8D83...,24169443,3,2,2025-01-01 21:27:00+00,2025-01-01,16:27:00,16,2.025030e+11,2700 BLOCK S FRONT ST,600,Thefts,-75.149513,39.912960,39.912960,-75.149513
56000,0101000020E610000091A3EF2498CF52C0D481ACA7D6F5...,3392189,0101000020110F00002460DB82C5F35FC128F27A2DA384...,24628289,12,2,2025-01-19 07:07:00+00,2025-01-19,02:07:00,2,2.025120e+11,7000 BLOCK GREENWAY AV,400,Aggravated Assault No Firearm,-75.243661,39.920613,39.920613,-75.243661
56001,0101000020E61000007B51794373C952C06FB9B8957703...,3392194,0101000020110F00000979A3D055E95FC1BA4DB2D0BD93...,24951806,35,2,2025-01-31 06:53:00+00,2025-01-31,01:53:00,1,2.025350e+11,4800 BLOCK N BROAD ST,300,Robbery Firearm,-75.147660,40.027087,40.027087,-75.147660

In [15]:
#game_date takes the team and year, and returns data_frame
def nfl_game_date(year, team):
    #load the specific year
    df = pd.read_csv(f"{path_nfl}/Season_Scores/{year}_scores.csv")
    df = df.dropna(subset=['Date'])

    
    #subsets the df to games where the team is playing
    df_away = df[(df["AwayTeam"] == team)]
    df_home = df[(df["HomeTeam"] == team)]
        
    home_dates_with_year = df_home['Date'].apply(
        lambda x: f"{x}/{year+1}" if int(str(x).split('/')[0]) <= 6 
        else f"{x}/{year}")    
    away_dates_with_year = df_away['Date'].apply(
        lambda x: f"{x}/{year+1}" if int(str(x).split('/')[0]) <= 6 
        else f"{x}/{year}")
    
    # Now convert to datetime
    home_game_dates = pd.to_datetime(home_dates_with_year)
    away_game_dates = pd.to_datetime(away_dates_with_year)

    #Gets the result of the game
    home_game_win = df_home['HomeWin'].to_list()
    away_game_win = df_away['AwayWin'].to_list()

    #Convert to boolean
    home_game_win = [bool(x) for x in home_game_win]
    away_game_win = [bool(x) for x in away_game_win]

    #Creates an away, home df, with the pairs for results and tags the Location
    home = pd.DataFrame(list(zip(home_game_dates, home_game_win)))
    away = pd.DataFrame(list(zip(away_game_dates, away_game_win)))
    home["Location"] = "Home"
    away["Location"] = "Away"

    #puts the two together and sorts them by date
    season = pd.concat([home, away], ignore_index=True) 
    season.columns = ["Date", "Result", "Location"]
    season = season.sort_values('Date').reset_index(drop=True)    
    
    return season

In [19]:
nfl_game_date(2024, "Eagles")

         Date  Result Location
0  2024-08-09    True     Away
1  2024-08-15    True     Away
2  2024-08-24   False     Home
3  2024-09-06    True     Home
4  2024-09-16   False     Home
5  2024-09-22    True     Away
6  2024-09-29   False     Away
7  2024-10-13    True     Home
8  2024-10-20    True     Away
9  2024-10-27    True     Away
10 2024-11-03    True     Home
11 2024-11-10    True     Away
12 2024-11-14    True     Home
13 2024-11-24    True     Away
14 2024-12-01    True     Away
15 2024-12-08    True     Home
16 2024-12-15    True     Home
17 2024-12-22   False     Away
18 2024-12-29    True     Home
19 2025-01-05    True     Home
20 2025-01-12    True     Home
21 2025-01-19    True     Home
22 2025-01-26    True     Home
23 2025-02-09    True     Home

In [21]:
#this downloads the kaggle nba dataset
path_nba = kagglehub.dataset_download("eoinamoore/historical-nba-data-and-player-box-scores")

Downloading from https://www.kaggle.com/api/v1/datasets/download/eoinamoore/historical-nba-data-and-player-box-scores?dataset_version_number=194...

100%|██████████████████████████████████████| 93.0M/93.0M [00:04<00:00, 23.2MB/s]

Extracting files...

In [23]:
def nba_game_date(team,year):
    #first get teamId for this dataset
    team_df = pd.read_csv(f"{path_nba}/TeamHistories.csv")

    #searches the dataset for the ID, returns nothing if not found
    team_id = team_df[team_df['teamName'] == team]['teamId']
    if not team_id.empty:
        team_id = team_id.iloc[0]
    else:
        print("Team not found in dataset, look at the documentation.")
        return

    #use team_id and year to sort games wanted
    df = pd.read_csv(f"{path_nba}/Games.csv", low_memory=False)
    df["gameDate"] = pd.to_datetime(df["gameDate"])
    start = pd.to_datetime(f"{year}-10-01")
    end = pd.to_datetime(f"{year+1}-06-30")
    df_home = df[(df["hometeamId"] == team_id) & ((df['gameDate'] >= start) & (df['gameDate'] <= end))]
    df_away = df[(df["awayteamId"] == team_id) & ((df['gameDate'] >= start) & (df['gameDate'] <= end))]


    home_game_dates = df_home["gameDate"].to_list()
    away_game_dates = df_away["gameDate"].to_list()
    
    home_game_win = [x == team_id for x in df_home['winner']]
    away_game_win = [x == team_id for x in df_away['winner']]

    #Creates an away, home df, with the pairs for results and tags the Location
    home = pd.DataFrame(list(zip(home_game_dates, home_game_win)))
    away = pd.DataFrame(list(zip(away_game_dates, away_game_win)))
    home["Location"] = "Home"
    away["Location"] = "Away"
    season = pd.concat([home, away], ignore_index=True) 
    season.columns = ["Date", "Result", "Location"]
    season = season.sort_values('Date').reset_index(drop=True)    
    
    return season

In [25]:
nba_game_date("76ers",2024)

                  Date  Result Location
0  2024-10-11 19:00:00   False     Away
1  2024-10-12 20:00:00   False     Away
2  2024-10-14 19:30:00    True     Away
3  2024-10-16 19:00:00    True     Home
4  2024-10-18 19:00:00   False     Away
..                 ...     ...      ...
82 2025-04-05 19:00:00   False     Home
83 2025-04-07 19:30:00   False     Away
84 2025-04-09 19:00:00    True     Away
85 2025-04-11 19:00:00   False     Home
86 2025-04-13 13:00:00   False     Home

[87 rows x 3 columns]